body{
    font-family: 'Microsoft Yahei', '微软雅黑', '宋体', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti;
}

.navbar-static-top {
    background: #212121;
    margin-bottom: 6px;
}

.navbar-brand {
    background: url('http://static-res.ruyo.net/ruyo_net_w_32.png') no-repeat 10px 8px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 50px;
    color: #fff;
}

.navbar-brand:hover{
    color: #8a6d3b;
}

.main-nav {
    margin-left: 1px;
}

.main-nav.nav.nav-tabs.nav-app > li{
    float: none;
}

.main-nav.nav.nav-tabs.nav-app > li > a{
    padding: 10px 8px;
    font-size: 12px;
    font-weight: 600;
    color: #4A515B;
    background: #E9E9E9;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA), color-stop(100%, #E9E9E9));
    background: -webkit-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    background: -o-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    background: -ms-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    background: linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
    border: 1px solid #D5D5D5;
    border-radius: 4px;
}

.submenu > li > a{
    color: #4A515B;
    text-align: center;
    border-radius: 4px;
}

.submenu > li > a:hover{
    background: #6f7782;
    color: white;
}

.supermenu.collapsed > span.glyphicon-collapse-toggle:before{
    content: "\e259";
}

.supermenu > span.glyphicon-collapse-toggle:before{
    content: "\e260";
}